.campaigns {
  flex: 1;
  position: relative;
  $hor-padding: 40px;

  &__content {
    gap: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  &__items {
    @extend %row-spaced-center;
    flex-wrap: wrap;
    gap: 20px 20px;
    width: 100%;
    display: flex;
    padding: 40px $hor-padding 20px;
    flex-direction: row;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  }

  &__card {
    @extend %column-center;
    gap: 10px;
    width: 100%;
    overflow: hidden;
    cursor: pointer;
    max-width: 250px;
    border: $border-1;
    border-radius: 20px;
    transition: 0.3s ease-out;
    &:hover {
      transform: scale(1.02);
      box-shadow: 0px 0px 10px 0px rgba($color: $dark, $alpha: 0.1);
    }

    &__image {
      width: 100%;
      aspect-ratio: 1;
      overflow: hidden;
      border-radius: 10px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &__details {
      gap: 10px;
      width: 100%;
      display: flex;
      padding: 6px 14px 20px;
      flex-direction: column;
      &-title {
        width: 100%;
        color: $dark;
        font-size: 15px;
        overflow: hidden;
        font-weight: 500;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      &-subtitle,
      &-category {
        width: 100%;
        color: $gray;
        margin-top: 4px;
        font-size: 13px;
        overflow: hidden;
        text-align: start;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
      }
      &-category {
        margin-top: 0px;
        color: $primary;
        font-size: 12px;
        font-weight: 500;
        text-transform: uppercase;
      }

      &__description {
        font-size: 14px;
        color: $gray;
      }
      &__footer {
        @extend %row-center;
        gap: 10px;
        width: 100%;
        &__price {
          font-size: 16px;
          font-weight: 500;
          color: $dark;
        }
        &__date {
          font-size: 14px;
          color: $gray;
        }
      }

      &-stats {
        display: flex;
        flex-direction: column;

        &__amount {
          @extend %row-spaced-center;
          margin-top: 6px;
          margin-bottom: 6px;
          p {
            color: $gray;
            font-size: 13px;
            span {
              color: $dark;
              font-weight: 600;
            }
          }
        }
        .progress-bar {
          width: 100%;
          height: 4px;
          overflow: hidden;
          border-radius: 10px;
          background-color: #e0e0e0;
          &__progress {
            width: 50%;
            height: 100%;
            background-color: #02a95c;
          }
        }
      }
    }
  }
}
